h1{
text-align:center;
}
#aMazeTainer{
padding-left:2em;
}
span{
text-align:center;
display:block;
}
div{
text-align:center;
padding:.5em;
padding-bottom:.25em;
}

div .resultsDiv{
border: 4px double black;
}

body{
background-color: #333333;
color:#FFECAA;
}

button{
background-color:#783C86;
color:#FFECAA;
}

.container{
text-align:center;
}

#SCORE{
display:inline-block;
}

#HP{
display:inline-block;
}

.infotainer-wrapper{
	width: 100%;
	text-align: center;
}

.infotainer{
	text-align: left;
	overflow-y:hidden;
	overflow-x: wrap; 
	height:100px;
	width: 900px;
	margin-left: 16em;
	scroll-behavior: smooth;
	color: lime;
	background-color: black;
}
.infoLine{
	text-align: left;
	padding: 0px;
	padding-left: 12px;
	margin: 0px;
}